body {
  background: #eee;
  font-family: sans-serif;
  font-size: 20px;
}

.card {
  width: 500px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  font-size: 20px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  padding: 10px; 
}

.button-container {
  background: #e3f4ff;
  margin-top:10px;
  text-align: center;
  padding-bottom: 10px; 
}

button {
  display: block;
  margin: 0 auto;
  background: white;
  border: 1px solid #eee;
  font-size: 20px;
  padding: 5px 10px;
}
